@import url(https://fontmeme.com/god-eater-font/);

html, body, header {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(mainbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bar {
    margin: 0;
    padding: 0;
    padding-top: 0;
    width: 100%;
    height: 8vh;
    background-color: rgb(196, 52, 52);
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}

.bar h3 {
    width: 300px;
    height: 8vh;
    padding: 20px;
    color: white;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    display: flex;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bar button {
    cursor: pointer;
    width: 170px;
    height: 8vh;
    padding: 25px 40px;
    color: black;
    font-weight: bold;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    background-color: gold;
    text-align: end;
    outline: none;
    border: none;
}

ul, li {
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
}

li {
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: 0.5em;
    padding: 10px 15px;
    color: #ffffff;
    border-radius: 20px;
}

li:hover {
    box-shadow: 3px 5px;
    background-color: black;
}

.bar ul li a:visited {
    color: white;
    text-decoration: none;
}

.bar ul li a:link {
    color: white;
    text-decoration: none;
}

.bar ul li a:active{
    color: white;
    text-decoration: none;
}
/* Navigation Button Ends*/
.entrance {
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    height: 100%;
}
.abanner {
    text-align: left;
    align-items: center;
    color: white; 
    width: 50%;
}
.abanner h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.abanner p{
    text-align: left;
    align-items: center;
    color: white; 
    margin-top: 10px;
    word-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.godeater{
    clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0 100%, 0% 50%, 0 0);
    background: linear-gradient(crimson, red);
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: 800;
    border: 20px;
    border-color: black;
    margin: 10px 0;
}
.entrance::after{
    content: ' ';
    width: 500px;
    height: 290px;
    background: url(previewge2rb.jpg);
    background-size: cover;
    background-position: center;
    justify-content: right;
    position: absolute;
    right: 150px;
    outline: 50px black;
    border-radius: 5px;
}
.entrance:hover:after{
    cursor: pointer;
}
.godeater:hover{
    transform: scale(1.3);
}
/* Entrance ends */

/* Section Header*/

.sectionhdr h2{
    background-color: rgb(29, 26, 48);
    color: white;
    text-align: center;
    padding: 10px;
}

footer{
    display: block;
    background-color: rgb(40, 40, 94);
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a:link{
    color: white;
    text-decoration: none;
}